/node_modules
/public/hot
/public/img/documents
/public/img/invoice
/public/storage
/storage/*.key
/storage/framework/views/
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.env.backup
.env.*
!.env.example
.phpunit.result.cache
.phpunit.cache/
Thumbs.db
ehthumbs.db
Desktop.ini
*.log
cron.log
php.ini
*.swp
*.swo
*~
*.bak
*.bat
*.ps1
.DS_Store
**/.DS_Store
/bootstrap/cache/*.php
